# Day 2 Assignment Solution

List and its default Functions.

In [1]:
lst = ["Haris", 22, "Python", "Student"]
lst

['Haris', 22, 'Python', 'Student']

In [2]:
#Function 1

lst.index("Python")

2

In [3]:
#Function 2

lst.count(22)

1

In [4]:
#Function 3

lst.append("Mumbai")
lst

['Haris', 22, 'Python', 'Student', 'Mumbai']

In [5]:
#Function 4

lst.remove("Python")
lst

['Haris', 22, 'Student', 'Mumbai']

In [6]:
#Function 5

lst.reverse()
lst

['Mumbai', 'Student', 22, 'Haris']

Dictionary and its default functions

In [7]:
dit = {"Name":"Haris", "Age":"22", "Subject":"Python", "Level":"Student"}
dit

{'Name': 'Haris', 'Age': '22', 'Subject': 'Python', 'Level': 'Student'}

In [8]:
#Function 1

dit.get("Subject")

'Python'

In [9]:
#Function 2

dit.items()

dict_items([('Name', 'Haris'), ('Age', '22'), ('Subject', 'Python'), ('Level', 'Student')])

In [10]:
#Function 3

dit.keys()

dict_keys(['Name', 'Age', 'Subject', 'Level'])

In [11]:
#Function 4

dit.pop("Name")

'Haris'

In [14]:
#Function 5

dit.clear()
dit

{}

Sets and its default functions

In [17]:
st = {"Haris", "LetsUpgrade", 8, 8, 9, 25, 5, 5, 98}
st

{25, 5, 8, 9, 98, 'Haris', 'LetsUpgrade'}

In [18]:
st1 = {"Haris", 25, 9, 8}
st1

{25, 8, 9, 'Haris'}

In [19]:
#Function 1

st1.issubset(st)

True

In [20]:
#Function 2

st1.add("Student")
st1

{25, 8, 9, 'Haris', 'Student'}

In [21]:
#Function 3

st1.union(st)

{25, 5, 8, 9, 98, 'Haris', 'LetsUpgrade', 'Student'}

In [22]:
#Function 4

st.intersection(st1)

{25, 8, 9, 'Haris'}

In [23]:
#Function 5

st1.difference(st)

{'Student'}

Tuple and its default methods (Only 2 default methods present)

In [24]:
tup = ("I", "am", "learning", "Python", "from", "LetsUpgrade")
tup

('I', 'am', 'learning', 'Python', 'from', 'LetsUpgrade')

In [25]:
#Function 1

tup.count("Python")

1

In [26]:
#Function 2

tup.index("LetsUpgrade")

5

String and its default methods

In [29]:
state1 = "I am learning Python"
state2 = "from Letsupgrade"

In [30]:
state1

'I am learning Python'

In [31]:
state2

'from Letsupgrade'

In [40]:
#Function 1

state1.count("am")

1

In [38]:
#Function 2

state1.center(50)

'               I am learning Python               '

In [41]:
#Function 3

state2.endswith("!!!")

False

In [44]:
#Function 4

state1.casefold()

'i am learning python'

In [47]:
#Function 5

state1.find("LetsUpgrade")

-1